interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:buscaEventosLista
      xmlns:ns0="http://resource.webservice.correios.com.br/"><usuario>teste</usuario><senha>****</senha><tipo>L</tipo><resultado>T</resultado><lingua>101</lingua><objetos>FJ064849483BR</objetos></ns0:buscaEventosLista></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['"buscaEventosLista"']
    method: POST
    uri: http://webservice.correios.com.br/service/rastro
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soapenv:Envelope xmlns:soapenv=\"\
        http://schemas.xmlsoap.org/soap/envelope/\"><soapenv:Header><X-OPNET-Transaction-Trace:X-OPNET-Transaction-Trace\
        \ xmlns:X-OPNET-Transaction-Trace=\"http://opnet.com\">pid=21302,requestid=0c5b02ae10c087eb8747420bff27e7ba67b84250f1b998a8</X-OPNET-Transaction-Trace:X-OPNET-Transaction-Trace></soapenv:Header><soapenv:Body><ns2:buscaEventosListaResponse\
        \ xmlns:ns2=\"http://resource.webservice.correios.com.br/\"><return><versao>2.0</versao><qtd>1</qtd><objeto><numero>FJ064849483BR</numero><erro>Objeto\
        \ n\xE3o encontrado na base de dados dos Correios.</erro></objeto></return></ns2:buscaEventosListaResponse></soapenv:Body></soapenv:Envelope>"}
    headers:
      Content-Language: [en-US]
      Content-Type: [text/xml; charset=utf-8]
      X-OPNET-Transaction-Trace: [a2_605fa8e7-58d8-4fd2-a816-761b24930782]
    status: {code: 200, message: OK}
version: 1
