interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:CalcPrecoPrazo
      xmlns:ns0="http://tempuri.org/"><ns0:nCdEmpresa>08888888</ns0:nCdEmpresa><ns0:sDsSenha>XXXXXX</ns0:sDsSenha><ns0:nCdServico>40010</ns0:nCdServico><ns0:sCepOrigem>07192100</ns0:sCepOrigem><ns0:sCepDestino>09960610</ns0:sCepDestino><ns0:nVlPeso>7.6</ns0:nVlPeso><ns0:nCdFormato>2</ns0:nCdFormato><ns0:nVlComprimento>26</ns0:nVlComprimento><ns0:nVlAltura>3</ns0:nVlAltura><ns0:nVlLargura>14</ns0:nVlLargura><ns0:nVlDiametro>16</ns0:nVlDiametro><ns0:sCdMaoPropria>S</ns0:sCdMaoPropria><ns0:nVlValorDeclarado>9000.00</ns0:nVlValorDeclarado><ns0:sCdAvisoRecebimento>S</ns0:sCdAvisoRecebimento></ns0:CalcPrecoPrazo></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['"http://tempuri.org/CalcPrecoPrazo"']
    method: POST
    uri: http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><CalcPrecoPrazoResponse
        xmlns=\"http://tempuri.org/\"><CalcPrecoPrazoResult><Servicos><cServico><Codigo>40010</Codigo><Valor>175,05</Valor><PrazoEntrega>2</PrazoEntrega><ValorMaoPropria>5,90</ValorMaoPropria><ValorAvisoRecebimento>5,00</ValorAvisoRecebimento><ValorValorDeclarado>134,25</ValorValorDeclarado><EntregaDomiciliar>N</EntregaDomiciliar><EntregaSabado>S</EntregaSabado><Erro>010</Erro><MsgErro>O
        CEP de destino est\xE1 temporariamente sem entrega domiciliar. A entrega ser\xE1
        efetuada na ag\xEAncia indicada no Aviso de Chegada que ser\xE1 entregue no
        endere\xE7o do destinat\xE1rio.</MsgErro><ValorSemAdicionais>29,90</ValorSemAdicionais><obsFim>O
        CEP de destino est\xE1 temporariamente sem entrega domiciliar. A entrega ser\xE1
        efetuada na ag\xEAncia indicada no Aviso de Chegada que ser\xE1 entregue no
        endere\xE7o do destinat\xE1rio.</obsFim></cServico></Servicos></CalcPrecoPrazoResult></CalcPrecoPrazoResponse></soap:Body></soap:Envelope>"}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
