interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:buscaEventosLista
      xmlns:ns0="http://resource.webservice.correios.com.br/"><usuario>teste</usuario><senha>****</senha><tipo>L</tipo><resultado>T</resultado><lingua>101</lingua><objetos>BE058714266BR</objetos></ns0:buscaEventosLista></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['"buscaEventosLista"']
    method: POST
    uri: http://webservice.correios.com.br/service/rastro
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soapenv:Envelope xmlns:soapenv=\"\
        http://schemas.xmlsoap.org/soap/envelope/\"><soapenv:Header><X-OPNET-Transaction-Trace:X-OPNET-Transaction-Trace\
        \ xmlns:X-OPNET-Transaction-Trace=\"http://opnet.com\">pid=176308,requestid=5e7589c677ed683211a041a00a99936284fd2d9448ada79d</X-OPNET-Transaction-Trace:X-OPNET-Transaction-Trace></soapenv:Header><soapenv:Body><ns2:buscaEventosListaResponse\
        \ xmlns:ns2=\"http://resource.webservice.correios.com.br/\"><return><versao>2.0</versao><qtd>1</qtd><objeto><numero>BE058714266BR</numero><sigla>BE</sigla><nome>REMESSA\
        \ ECON\xD4MICA S/ AR DIGITAL</nome><categoria>REMESSA ECON\xD4MICA TAL\xC3\
        O/CART\xC3O</categoria><evento><tipo>BDE</tipo><status>23</status><data>23/07/2018</data><hora>09:48</hora><descricao>Objeto\
        \ devolvido ao remetente</descricao><local>CDD PARQUE SAO LUIZ</local><codigo>07170970</codigo><cidade>GUARULHOS</cidade><uf>SP</uf></evento><evento><tipo>OEC</tipo><status>09</status><data>23/07/2018</data><hora>07:49</hora><descricao>Objeto\
        \ saiu para entrega ao remetente</descricao><local>CDD PARQUE SAO LUIZ</local><codigo>07170970</codigo><cidade>GUARULHOS</cidade><uf>SP</uf></evento><evento><tipo>RO</tipo><status>01</status><data>17/07/2018</data><hora>13:34</hora><descricao>Objeto\
        \ encaminhado </descricao><local>CDD IMIRIM</local><codigo>02464970</codigo><cidade>SAO\
        \ PAULO</cidade><uf>SP</uf><destino><local>CTCE VILA MARIA</local><codigo>02170970</codigo><cidade>SAO\
        \ PAULO</cidade><bairro>VILA MARIA</bairro><uf>SP</uf></destino></evento><evento><tipo>BDE</tipo><status>21</status><data>16/07/2018</data><hora>17:02</hora><descricao>A\
        \ entrega n\xE3o pode ser efetuada - Carteiro n\xE3o atendido</descricao><detalhe>Objeto\
        \ ser\xE1 devolvido ao remetente</detalhe><local>CDD IMIRIM</local><codigo>02464970</codigo><cidade>SAO\
        \ PAULO</cidade><uf>SP</uf></evento><evento><tipo>BDE</tipo><status>20</status><data>16/07/2018</data><hora>16:53</hora><descricao>A\
        \ entrega n\xE3o pode ser efetuada - Carteiro n\xE3o atendido</descricao><detalhe>Ser\xE1\
        \ realizada nova tentativa de entrega</detalhe><local>CDD IMIRIM</local><codigo>02464970</codigo><cidade>SAO\
        \ PAULO</cid[...]
