interactions:
- request:
    body: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ns0="http://resource.webservice.correios.com.br/" xmlns:ns1="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><ns1:Body><ns0:buscaEventosLista><usuario>sigep</usuario><senha>XXXXXX</senha><tipo>L</tipo><resultado>T</resultado><lingua>101</lingua><objetos>DU477828695BR</objetos><objetos>FJ064849483BR</objetos></ns0:buscaEventosLista></ns1:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type: [text/xml;charset=UTF-8]
      SOAPAction: ['']
    method: POST
    uri: http://webservice.correios.com.br/service/rastro
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"\
        http://schemas.xmlsoap.org/soap/envelope/\"><soapenv:Header><X-OPNET-Transaction-Trace:X-OPNET-Transaction-Trace\
        \ xmlns:X-OPNET-Transaction-Trace=\"http://opnet.com\">pid=49614,requestid=c13f87c4eb06d6c2483b971c3b33312696e406c8e5f680eb</X-OPNET-Transaction-Trace:X-OPNET-Transaction-Trace></soapenv:Header><soapenv:Body><ns2:buscaEventosListaResponse\
        \ xmlns:ns2=\"http://resource.webservice.correios.com.br/\"><return><versao>2.0</versao><qtd>2</qtd><objeto><numero>DU477828695BR</numero><sigla>DU</sigla><nome>ENCOMENDA\
        \ E-SEDEX</nome><categoria>E-SEDEX</categoria><evento><tipo>BDE</tipo><status>01</status><data>08/06/2016</data><hora>17:58</hora><descricao>Objeto\
        \ entregue ao destinat\xE1rio</descricao><recebedor>                     \
        \                                                   </recebedor><documento>\
        \                         </documento><comentario>                       \
        \  </comentario><local>CEE CURITIBA NORTE</local><codigo>82560970</codigo><cidade>Curitiba</cidade><uf>PR</uf></evento><evento><tipo>OEC</tipo><status>01</status><data>08/06/2016</data><hora>10:38</hora><descricao>Objeto\
        \ saiu para entrega ao destinat\xE1rio</descricao><local>CEE CURITIBA NORTE</local><codigo>82560970</codigo><cidade>Curitiba</cidade><uf>PR</uf></evento><evento><tipo>BDE</tipo><status>46</status><data>07/06/2016</data><hora>17:42</hora><descricao>Tentativa\
        \ de entrega n\xE3o efetuada</descricao><detalhe>Entrega prevista para o pr\xF3\
        ximo dia \xFAtil</detalhe><recebedor>                                    \
        \                                    </recebedor><documento>             \
        \            </documento><comentario>                         </comentario><local>CEE\
        \ CURITIBA NORTE</local><codigo>82560970</codigo><cidade>Curitiba</cidade><uf>PR</uf></evento><evento><tipo>OEC</tipo><status>01</status><data>07/06/2016</data><hora>09:53</hora><descricao>Objeto\
        \ saiu para entrega ao destinat\xE1rio</descricao><local>CEE CURITIBA NORTE</local><codigo>82560970</codigo><cidade>Curitiba</cidade><uf>PR</uf></evento><evento><tipo>DO</tipo><status>01</status><data>07/06/2016</data><hora>01:32</hora><descricao>Objeto\
        \ encaminhado </descricao><local>CTE CURITIBA</local><codigo>80237970</codigo><cidade>Curitiba</cidade><uf>PR</uf><destino><local>CEE\
        \ CURITIBA NORTE</local><codigo>82560970</codigo><cidade>Curitiba</cidade><bairro>Boa\
        \ Vista</bairro><uf>PR</uf></destino></evento><evento><tipo>RO</tipo><status>01</status><data>06/06/2016</data><hora>15:52</hora><descricao>Objeto\
        \ encaminhado </descricao><local>AGF BARIGUI</local><codigo>81200981</codigo><cidade>Curitiba</cidade><uf>PR</uf><destino><local>CTE\
        \ CURITIBA</local><codigo>80237970</codigo><cidade>Curitiba</cidade><bairro>Centro</bairro><uf>PR</uf></destino></evento><evento><tipo>PO</tipo><status>01</status><data>06/06/2016</data><ho[...]
